services:
  django-webapp:
    container_name: django-app-container
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - DEBUG=${DEBUG}
    ports:
      - 8080:${PORT}
