name: scan-build-action
run-name: Building ${{ github.repository }}. Job ${{ github.job }} started by ${{ github.actor }}

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  unit-test-job:
    name: Running unit-tests and generating coverage reports
    environment: development
    runs-on: ubuntu-latest
    steps:
      - name: Checking out repository code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
          enable-cache: true

      - name: Install dependencies
        run: uv sync --frozen

      - name: Linting codebase
        run: uv run ruff check .

      - name: Running unit-tests
        run: |
           uv run coverage erase
           uv run coverage run ./manage.py test

      - name: Generating code coverage report
        run: |
           uv run coverage report
           uv run coverage html -d coverage
           uv run coverage xml

      - name: upload coverage report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: coverage
          path: ./coverage

  sonarqube-job:
    name: SonarQube Analysis
    runs-on: ubuntu-latest
    environment: development
    needs: unit-test-job
    steps:
      - name: Checking out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download coverage report
        uses: actions/download-artifact@v4
        with:
          name: coverage
          path: coverage

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  scan-vuln-job:
    name: Scanning for vulnerabilities and misconfigurations
    environment: development
    runs-on: ubuntu-latest
    needs: unit-test-job
    steps:
      - run: echo "Job (${{ github.job }}) was automatically triggered by event ${{ github.event_name }}."
      - run: echo "${{ github.repository }}#${{ github.ref }} has been checked out to a GitHub runner on ${{ runner.os }} server"

      - name: Checking out repository code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
          enable-cache: true

      - name: Generate requirements.txt
        run: uv export --format requirements-txt --output-file requirements.txt

      - name: Auditing 3rd-party packages
        run: uvx pip-audit -r requirements.txt

      - name: OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: 'django-boilerplate'
          path: '.'
          format: 'HTML'
          out: 'reports'
          args: >
            --scan ./requirements.txt
            --disableAssembly
            --disableYarnAudit
            --disablePnpmAudit
            --disableNodeAudit

      - name: Upload OWASP Dependency Check Report
        uses: actions/upload-artifact@v4
        with:
          name: Dependency-Check-Report
          path: reports/dependency-check-report.html

      - name: Run Trivy filesystem vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.29.0
        with:
          scan-type: 'fs'
          scan-ref: '.'
          exit-code: 0
          ignore-unfixed: true
          severity: CRITICAL,HIGH
          hide-progress: false
          security-checks: 'vuln,config,secret'
          vuln-type: 'os,library'
          format: sarif
          output: 'trivy-fs-results.sarif'

      - name: upload trivy filesystem vulnerability assessment report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: trivy-fs-vulnerability-assessment-report
          path: 'trivy-fs-results.sarif'

  build-scan-container-job:
    name: Building container image for scanning
    environment: development
    needs: scan-vuln-job
    runs-on: ubuntu-latest
    steps:
      - name: Checking out repository code
        uses: actions/checkout@v4

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ github.repository }}
          tags: |
            type=raw,value=latest
            type=raw,value=sha-${{ github.sha }}
            type=sha,format=long

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image for scanning
        uses: docker/build-push-action@v6
        with:
          context: .
          # Important: load: true makes the image available to the local docker daemon for scanning
          load: true
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run Trivy vulnerability scanner
        id: trivy-scan-container
        uses: aquasecurity/trivy-action@0.29.0
        with:
          image-ref: ${{ github.repository }}:sha-${{ github.sha }}
          exit-code: 0
          ignore-unfixed: true
          vuln-type: 'os,library'
          security-checks: 'vuln,config,secret'
          severity: 'CRITICAL,HIGH'
          format: 'sarif'
          output: 'trivy-container-results.sarif'
          hide-progress: false

      - name: Uploading Trivy scan report (sarif)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trivy-container-vulnerability-assessment-report
          path: 'trivy-container-results.sarif'

      - name: Log in to the GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }} # Uses the GitHub username of the actor
          password: ${{ secrets.GITHUB_TOKEN }} # Uses the built-in GITHUB_TOKEN secret

      - name: Push Docker image to Registry
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
